language: node_js
sudo: false
node_js:
  - '6'
env:
  - CXX=g++-4.8
addons:
  srcclr: true
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
before_install:
  - npm install -g gulp-cli yarn
install:
  - yarn install
script:
  - gulp test
  - npm install -g bower
after_success:
  - bash <(curl -s https://codecov.io/bash)
